@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content };   //600px
  }
  @if $breakpoint == medium-height {
    @media (max-height: 37.5em) { @content };
  }
  @if $breakpoint == small-height {
    @media (max-height: 30em) { @content };
  }
  @if $breakpoint == ex-small-height {
    @media (max-height: 25em) { @content };
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content };    //900px
  }
  @if $breakpoint == small-tab {
    @media (max-width: 65.625em) { @content }; //1050px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content };  //1200px
  }
  @if $breakpoint == medium-desktop {
    @media(max-width: 84em) { @content }; //1350px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content };  //1800px
  }
}

.project-card {
  height: 80vh;
  width: 40vw;
  margin: 2.5rem auto;
  border-radius: 1%;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  transition: all .4s;

  @include respond(phone) {
    width: 90vw;
    height: 70vh;
    margin: 3rem auto;
  }
  @include respond(medium-height) {
    width: 80%;
    height: 100%;
    margin: 5rem auto;
  }
  &__side {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column
  }
  &--1 {
    border: .3rem solid #C0392B;
  }
  &--2 {
    border: .3rem solid #E3772D;
  }

  -webkit-box-shadow: -1px 0px 7px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 0px 7px -1px rgba(0,0,0,0.75);
  box-shadow: -1px 0px 7px -1px rgba(0,0,0,0.75);
  &__rotated-content {
    transform: rotateY(-180deg);
    height: 80vh;
    width: 40vw;
    margin: 2.5rem auto;
    border-radius: 1%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-animation: fadein .5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein .5s; /* Firefox < 16 */
        -ms-animation: fadein .5s; /* Internet Explorer */
         -o-animation: fadein .5s; /* Opera < 12.1 */
            animation: fadein .5s;
    
    @include respond(phone) {
      width: 90vw;
      height: 70vh;
      margin: 3rem auto;
    }
    @include respond(medium-height) {
      width: 80%;
      height: 100%;
      margin: 5rem auto;
    }
    &__scale-of-awesome {
      height: 100%;
      width: 30%;
      border-radius: 3%;
      background-color: #DEDEDE;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    &__description-long {
      width: 90%;
      letter-spacing: .1rem;
      font-family: Arial;
      font-weight: 200;
      color: white;
      font-size: 2rem;
      text-align: center;
    }
    &__tech-heading {
      font-family: Arial;
      font-weight: 200;
      color: #605856;
      letter-spacing: .5rem;
      font-size: 4rem;
      margin: 2rem auto;

    }

    &__text-container {
      background-color: transparent;
      flex: .2;
      width: 100%;    
    }

    &__info-container {
      flex: .7;
      width: 100%;
      height: 100%;
      background-color: transparent;
      // display: flex;
      // flex-direction: row;

      &--left {
        flex: .5;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        li {
          list-style-type: none;
          font-size: 3.2rem;
          font-family: Arial;
          color: #605856;
          margin: 2rem auto;
        }
      }
      &--right {
        flex: .9;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &__back{
    transform: rotateY(180deg);
  }
  &__button-container {
    flex: .1;
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin-top: 3%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &__btn {

      width: 5.7rem;
      height: 6.4rem;
      margin-right: 5%;
      border-radius: .5rem;
      cursor: pointer;
      border: none;
      -webkit-box-shadow: 0px 2px 10px -4px rgba(0,0,0,1);
      -moz-box-shadow: 0px 2px 10px -4px rgba(0,0,0,1);
      box-shadow: 0px 2px 10px -4px rgba(0,0,0,1);
      @include respond(phone) {
        width: 3.7rem;
        height: 4.4rem;
      }
      @include respond(medium-height) {
        width: 3.7rem;
        height: 4.4rem;
      }
      &__icon {
        height: 3rem;
        width: 3rem;
        fill: #fff;
        @include respond(phone) {
          height: 2rem;
          width: 2rem;
        }
        @include respond(medium-height) {
          height: 2rem;
          width: 2rem;
        }
      }
      &__small {
        width: 3.7rem;
        height: 4.4rem;
        margin-right: 5%;
        border-radius: .5rem;
        cursor: pointer;
        border: none;
        -webkit-box-shadow: 0px 2px 10px -4px rgba(0,0,0,1);
        -moz-box-shadow: 0px 2px 10px -4px rgba(0,0,0,1);
        box-shadow: 0px 2px 10px -4px rgba(0,0,0,1);
      }
      &__reversed {
        width: 5.7rem;
        height: 6.4rem;
        margin-left: 87%;
        border-radius: .5rem;
        cursor: pointer;
        border: none;
        -webkit-box-shadow: 0px 2px 10px -4px rgba(0,0,0,1);
        -moz-box-shadow: 0px 2px 10px -4px rgba(0,0,0,1);
        box-shadow: 0px 2px 10px -4px rgba(0,0,0,1);
      }
      &--1 {
        background-color: #C0392B;
      }
      &--2 {
        background-color: #E3772D;
      }
    }
    

  }
  &__image-container {
    flex: .7;
    width: 100%;
    background-color: transparent;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__thumbnails-container {
      flex:.2;
      width: 50%;
      background-color: transparent;

      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      
      &--thumbnail {
        display: block;
        max-width: 20%;
        height: auto;

        cursor: pointer;
        
        &--active {
          outline: 5px solid black;
        }
      }
      &--thumbnail-mobile {
        display: block;
        max-width: 8%;
        height: auto;
        cursor: pointer;
        &--active {
          outline: 5px solid black;
        }
      }
    }
    &__main-image-container {
      flex: .75;
      margin-top: 5%;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &--main-image {
      display: block;
      margin: 0 auto;
      max-width: 40%;
      height: auto;
      -webkit-box-shadow: -1px 0px 7px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: -1px 0px 7px -1px rgba(0,0,0,0.75);
      box-shadow: -1px 0px 7px -1px rgba(0,0,0,0.75);

      border: .2rem solid #C0392B;
      
      @include respond(medium-height) {
        max-width: 40%;
      }
      @include respond(phone) {
        max-width: 40%;
      }
      @include respond(tab-port) {
        max-width: 40%;
      }
      @include respond(tab-land) {
        max-width: 40%;
      }

    }
    &--main-image-mobile {
      display: block;
      margin: 0 auto;
      max-width: 23%;
      height: auto;
      -webkit-box-shadow: -1px 0px 7px -1px rgba(0,0,0,0.75);
      -moz-box-shadow: -1px 0px 7px -1px rgba(0,0,0,0.75);
      box-shadow: -1px 0px 7px -1px rgba(0,0,0,0.75);
      border: .2rem solid #E3772D;
    }
    
  }
  &__description-container {
    flex: .1;
    margin: 0 auto;
    width: 90%;
    background-color: transparent;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__heading-container {
    flex: .1;
    width: 100%;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes fadein {
  from { opacity: 0;}
  to { opacity: 1;}
}