@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content };   //600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content };    //900px
  }
  @if $breakpoint == small-tab {
    @media (max-width: 65.625em) { @content }; //1050px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content };  //1200px
  }
  @if $breakpoint == medium-desktop {
    @media(max-width: 84em) { @content }; //1350px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content };  //1800px
  }
}

.draggable-container {
  width: 100%;
  height: 100%;
  background-color: #593D2C;
  position: relative;

  @include respond(phone) {
    flex: .9;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}